body {
    margin: auto;
    height: auto;
    background-color: rgb(78, 65, 102);
    
}

h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
}

#campos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#caixa {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    
}

#caixinha {
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 250px;
    margin-left: 42%;
    border-radius: 10px;
    font-size: 17px;
    color:white;
}

#botao{
    margin-right: 70px;
    width: 100px;
    height: 50px;
    font-weight: 600px;
    color: white;
    background-color: rgb(31, 13, 48);
    border-radius: 5px;
    border-color: white;
}

#resetar{
    margin-left: 50px;
    width: 100px;
    height: 50px;
    font-weight:600px;
    color: white;
    background-color: rgb(31, 13, 48);
    border-radius: 5px;
    border-color: white;
}

#letraA, #letraB, #letraC {
    margin: 20px;
    width: 80px;
    height: 50px;
}